.footer{
    background-color: #2f354a;
    .container{
    background-color: #2f354a;

        .row{
            ul{
                list-style: none;
                li{
                    color: white;
                }
            }
        }
    }
}