.background{
    background-image: url(../../img/home/navbarbackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    z-index: -1;
    height: 150px;
    .sticky-nav{
       background-color: inherit;
       position: sticky;
        .ml-auto{
         .images{
            
         }
          width: 100%;
            .basic-nav-dropdown{
                margin-top: 50px;
            }
            .nav-sign-in{
                margin-top: 50px;
                margin-left: 50px;
        
            }
            .basic-nav-dropdown{
                color: white;
            }
            img{
                width: 200px;
            }
        }

        
    }
 
}