.sticky {
  position: fixed;
  background-image: url(../../img/home/afina.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  .imagelogo{
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
  }
  img {
    width: 100%;
  }
  .navlinks {
    margin-left: 30px;
    b {
      color: white;

    }
    &:hover b{
        text-decoration: underline;
    }
  }
  .navdropdown {
    b {
      color: red;
    }
  }
}
