#famous-cities {
  .container {
    .row {
      .cards {
        position: relative;
        .link {
          img {
            height: 300px;

            width: 100%;
          }
          &:hover img {
            opacity: 0.9;
          }
          b {
            position: absolute;
            top: 60px;
            left: 30px;
            color: white;

            font-size: 30px;
            background-color: black;
            width: 80%;
            opacity: 0.6;
            text-shadow: 1cm;
          }
          &:hover b {
            height: 70%;
            transition: transform 1s;
          }
        }
      }
    }
  }
}
