.headerslider {
  width: 100%;
  height: 85vh;
  position: relative;
}
.carousel {
  .thumbs {
    display: none;
  }
  .control-prev{
   
    
    width: 60px;
    
  }
  &:hover .control-prev{
    background-color: black !important;
  }
  .control-next{
   
    
    
    width: 60px;
    
  }
  &:hover .control-next{
    background-color: black !important;
  }
 
}
.title {
  color: blue;
  position: absolute;
  font-size: 35px;
  top: 120px;
  left: 500px;
}
.description {
  color: blue;
  position: absolute;
  font-size: 25px;
  top: 180px;
  left: 600px;
}

