.headerslider {
  width: 100%;
  height: 100vh;
  position: relative;
}
.carousel {
  .thumbs {
    display: none;
  }
  .control-prev{
    background: rgba(0,0,0,1.2);
    
    width: 60px;
    
  }
  .control-next{
    background: rgba(0,0,0,1.2);
    
    width: 60px;
    
  }
}
.title {
  color: green;
  position: absolute;
  font-size: 35px;
  top: 150px;
  left: 500px;
}
.description {
  color: green;
  position: absolute;
  font-size: 15px;
  top: 200px;
  left: 500px;
}

