.card {
    margin-top: 20px;
  .ratings {
    .ratingNumber {
      background-color: blue;
      font-size: 18px;
      color: white;
      width: 100px;
      border-top-right-radius: 13px;
    }
    .ratingText {
      margin-left: 5px;
    }
  }
  .card-text {
    font-size: 13px;
  }
  .cardButton {
    width: 100%;
    cursor: pointer;
  }
  h6{
    color: blue;
    cursor: pointer;
  }
}
