.hotelList {
  background-color: green;
  .roominfo {
    border: 1px solid black;
    border-radius: 20px;
    width: 100%;
    display: flex;
    color: white;

    .roomimg {
      width: 250px;
      border-radius: 20px;
      height: 30vh;
    }
    .infoss {
      h5 {
        text-align: center;
      }
      .iconinfo {
        display: flex;
        margin-left: -20px;
        ul {
          list-style: none;
        }
        i {
          display: block;
          margin-top: 10px;
        }
      }
    }
    .choise {
      margin-left: 50px;
      select {
        margin-top: 20px;
      }
    }
    .price {
      margin-left: 50px;
      p {
        margin-top: 33px;
      }
    }
    .but {
      button {
        margin-top: 160px;
        margin-left: -70px;
      }
    }
  }
}
.basket {
  border: 1px solid black;
  margin-top: 5px;
  width: 80%;
  .baskets {
    border: none;
  }
  .basketrez {
    display: flex;
    margin-top: 3px;
    p {
      padding: 5px;
    }
  }
}
