#cards{
//    background-image: url(../img/home/afina.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    .container{
       
        .row{
    
            .exam{
                position: relative;
                img{
                    height: 300px;
                    width: 100%;
                }
                h3{
                    position: absolute;
                    top: 10px;
                    left: 30px;
                    color: white;
                }
    
            }
           
        }
    }
}