.container {
  .slick-next {
    background: red;
    height: 150px;
   
    
  }
  .slick-prev {
    height: 150px;

    background: red;
  }
  h3{
    img{
        height: 100%;
        width: 100px;
        margin-left: 10px;
    }
  }
  
}
