.container {
  .slick-next {
    background: #00224f;
    height: 230px;
    width: 70px;
   
    
  }
  .slick-prev {
    height: 230px;
    width: 70px;
    

    background: #00224f;
  }
  .slick-list{
    margin-left: 50px;
  }
  .px-1{
    margin-left: 10px;
    h3{
      p{
       text-align: center;
      }
   
      img{
          height: 200px;
          width: 200px;
          
      }
    }
    
  }
 
}
