
.forgotdiv{
   margin-top: 200px;
   margin-bottom: 130px;
    .forgote {
 
        .forgot {
          width: 700px;
          margin-left: 280px;
        }
        .forgots {
          margin-left: 280px;
        }
        .forgotss {
          margin-left: 500px;
          margin-top: 10px;
        }
      }
}
