.container{
    .row{
        .info{
            i{
                font-size: 30px;
                color: green;
            }
            span{
                margin-left: 10px;
            }
        }
    }
}