.hotels {
  margin-top: 150px;
  margin-bottom: 100px;
  .load{
    margin-left: 350px;
    margin-top: 40px;
  }

  .searchh{
    border: 1px solid blue;
  }
  .listItem {
    border: 1px solid lightgray;
    position: relative;
    border-radius: 25px;
    display: flex;
    box-shadow: 3px 3px gray;
    
    justify-content: space-between;
    gap: 20px;
    width: 100%;

    margin-top: 30px;
    .listimg {
      width: 300px;
      height: 200px;
      object-fit: cover;
      border-radius: 25px;
    }
    .listDesc {
      display: flex;
      flex-direction: column;
      position: relative;
      gap: 10px;
      flex: 2;
      .fa-location-arrow{
        color: #0d6efd;
      }
      .listTitle {
        font-size: 20px;
        color: blue;
        .hotelname{
          text-decoration: none;
        }
        &:hover .hotelname{
          color: red;
        }
        .iconshotel {
          i {
            color: orange;
          }
        }
      }
      .listDistance {
        font-size: 12px;
      }
      .listSubTitle {
        font-size: 12px;
        font-weight: bold;
        position: absolute;
        top: 110px;
      }
      .listFeatures {
        font-size: 12px;
      }
      .listCancel {
        font-size: 16px;
        color: green;
        position: absolute;
        top: 170px;
        font-weight: bold;
      }
    }
    .listDetails {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .listRating {
        display: flex;
        position: relative;
        justify-content: space-between;
        span {
          font-weight: 500;
          position: absolute;
          top: 20px;
        }
        button {
          background-color: #0d6efd;
          color: white;
          padding: 5px;
          font-weight: bold;
          position: absolute;
          left: 135px;
          top: 20px;
          border: none;
        }
      }
      .listDetailText {
        text-align: right;
        display: flex;
        position: relative;

        flex-direction: column;
        gap: 5px;
        .listPrise {
          font-size: 18px;
         color: black;
          position: absolute;
          left: 30px;
        }
        .listCheckButton {
          background-color: #0d6efd;
          color: white;
          font-weight: bold;
          padding: 10px 5px;
          position: absolute;
          width: 130px;
          top: 55px;
          padding: 11px;
          left: 42px;
          border-bottom-right-radius: 20px;

          
          border: none;
          .detailto{
            color: white;
            cursor: pointer;
            text-decoration: none;
          }
        }
      }
    }
  }
}
.filterStar{
  h4{
    margin-top: 200px;
  }
  .filterss{
    position: sticky;
    margin-top: 0px;
    width: 150px;
    height: 100px;

    // border: 1px solid black;
  }
}

