.blank{
 margin-top: 10px;
    
    .reservations{
        width: 30%;
        display: flex;
        border: 1px solid black;
        margin-top: 10px;
        h2{
            margin-top: 100px;
        }
        .getImg{
            width: 50%;
        }
        button{
            width: 39%;
            height: 30%;
            margin-top: 100px;
            margin-left: -150px;
        }
    }
  
}