.blank{
 margin-top: 10px;
    
    .reservations{
        width: 70%;
        display: flex;
        border: 1px solid black;
        margin-top: 10px;
        h2{
            margin-top: 100px;
        }
        .getImg{
            width: 50%;
        }
    }
  
}